.header {
    background-color: #E5E9B1;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: #E5E9B1;

}

.header__button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header__button:hover {
    transform: scale(1.1);
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__logo-img {
    height: 60px;
    width: 60px;
    background-color: #E5E9B1;


}

.header__icon {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.header__icon--menu {
    width: 40px;
    height: 40px;
}

.header__icon--cart {
    width: 40px;
    height: 40px;
}