div {
    background-color: #E5E9B1;
}

form > input {
    background-color: #69BC59;
    color: #ffffff;
    font-family: "Lily Script One";
}

form > button {
    background-color: #42CC50;
    color: white;
    font-family: "Lily Script One";

}

div > h2 {
    color: #BAAF2D;
    font-family: "Lily Script One";

}

div > img {
    width: 60px;
    height: 60px;
}

div > h3 {
    color: #3C8543;
    font-family: "Lily Script One";

}