.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #6B9064;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.footer-icon {
    height: 24px;
    width: auto;
}

.footer-text {
    margin: 0;
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
}