.confirmation-container {
    background-color: #E5E9B1;
}

.confirmation-container > h2, .confirmation-card > h3 {
    color: #7F761F;
    font-family: "Lily Script One";
}

.confirmation-card > .detail-row > .details{
    color: black;
    font-family: "Lily Script One";

}

.confirmation-card > .detail-row > .detail-label{
    color: #7F761F;
    font-family: "Lily Script One";
}

.confirmation-container > .button-group > .edit-button, .confirmation-container > .button-group > .new-button, .confirmation-container > .button-group > .pay-button {
    background-color: #69BC59;
    color: white;
    font-family: "Lily Script One";
}